<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <div class="container">
      <br />
      <h1>Error!</h1>
      <br />
      <h3>Code: <%= code %></h2>
      <h3>Message: <%= message %></h2>
    </div>
  </body>
</html>
